#app {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  height: 100vh;
  width: 100vw;
}

#sitecore-html-output h3,
#sitecore-html-output textarea {
  font-family: monospace !important;
}

div.field label.required.error {
  color: #9f3a38 !important;
}

div.dropzone {
  padding: 5px;
  border-radius: 3px;
}

div.dropzone:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}
